@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "assassinCreed";
    src: url("./assets/fonts/Assassin.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Ensures text is visible while font is loading */
  }
}
